/* @tailwind base; */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #ffffff;
  --color-secondary: #4DA6FF;
  --color-accent: #E6F3FF;
  --color-highlight: #FFD966;
  
  --font-sans: var(--font-sora);
  --font-heading: var(--font-sora);
  --font-sora: var(--font-sora);
}

body {
  background-color: var(--background);
  color: var(--color-foreground);
  overflow-x: hidden;
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
